// colours
$black: #000000;
$blackTrans: rgba(0, 0, 0, 0.33);
$col: #656565;
$colHi: #989898;

$blur: blur(15px);
$border: 1px solid $col;
$padding: 10px;
$paddingSmall: 3px;

// fonts
$fontSize: 12pt;
$header: calc($fontSize * 1.5);
$mono: monospace, Courier;

body {
  background: $black;
  background-repeat: no-repeat;
  background-size: 100%;
}

button {
  background: none;
  border: $border;
  color: $col;
  padding: $padding;
}
.editButton {
  width: 100% !important;
}
.map {
  backdrop-filter: $blur;
  min-height: 25vh;
  min-width: 7vw;
}
.mapLink {
  line-height: 2;
  padding: $paddingSmall 0;
  width: 100%;
}
.mapLink:hover {
  background-color: $col;
  color: $black;
}
dialog {
  background-color: $blackTrans;
  border: $border;
}
dialog::backdrop {
  backdrop-filter: $blur;
  // background-color: $blackTrans;
}
input {
  background-color: $blackTrans;
  border: $border;
  color: $colHi;
  outline: none;
}
.sidebar {
  backdrop-filter: $blur;
  background-color: $blackTrans;
  border-right: $border;
  height: 100vh;
  max-width: 33vw;
  min-width: 15vw;
  z-index: 3;
}

p,
span,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
textarea,
select,
button {
  color: $col;
  font-family: $mono;
}
a {
  text-decoration: none;
  margin: $padding 0 $padding 0;
}
a:hover {
  color: $colHi;
}
.border {
  border: $border;
}
.padding {
  padding: $padding;
}
.header {
  font-size: $header;
  font-weight: bold;
  text-transform: uppercase;
}

.title {
  background-color: $col;
  color: $black;
  font-size: calc($fontSize * 4);
  left: 50%;
  padding: $paddingSmall;
  position: absolute;
  top: 5%;
  text-transform: uppercase;
  transform: translate(-50%, -33%);
}

.center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bottom {
  left: 50%;
  position: absolute;
  bottom: 0%;
  transform: translate(-50%, -50%);
}
.inline {
  display: flex;
  gap: 1%;
}
